@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat",'NanumBarunGothic', sans-serif;
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

#logo {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 180px;
}

nav{
    display: flex;
    flex: 4;
    flex-direction: row-reverse;
}

ul {
    display: flex;
    line-height: 100px;
    margin-right: 20px;
}

ul > li {
    margin: 0px 40px;
}

#slider {
    width: 100%;
    height: 100vh;
}
#slider > img {
    width: 100%;
    margin-top: 100px;
    filter: contrast(120%);
}

#character {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#character > h1 {
    font-size: 50px;
    margin: 80px 0px 30px;
}

.click {
    width: 220px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #000;
    border-radius: 220px;
    cursor: pointer;
    margin-top: 10px;
}

.click:hover {
    background-color: #000;
}
.click:hover > a {
    color: #fff;
}

.click > a {
    font-weight: 200;
    color: #222;
    font-size: 12px;
}

article {
    width: 1300px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

article > div {
    width: 285px;
    height: 290px;
    border: 1px solid #ebebeb;
    margin: -0px 10px;
    border-radius: 10%;
    z-index: 1;
}

.img {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img > img {
    width: 120%;
    object-fit: fill;
    padding: 10%;
    box-sizing: border-box;
}

.text {
    width: 100%;
    height: 25%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
}

.text h1 {
    font-size: 24px;
    color: #444;
    font-weight: 400;
}

.text span {
    font-size: 12px;
    color: #ccc;
    font-weight: 400;
}

#char2 {
    margin-top: -150px;
}